.prLbSteps-nav{background:#fff;border:1px solid #fff;border-radius:4px;color:#444;margin-bottom:2em;overflow:hidden;box-shadow:0 4px 0 #848484;padding-left:35px;}
.prLbSteps-nav ul{border:0 none;list-style:outside none none;margin:0;outline:0 none;padding:0;}
.prLbSteps-nav li{float:left;}
.prLbSteps-nav ul li a .cnt{background:#cac9c9 none repeat scroll 0 0;border-radius:100%;color:#fff;display:table;float:none !important;font-size:20px;font-weight:bold;height:30px;line-height:28px;margin:23px auto auto auto;text-align:center;width:30px;}
.prLbSteps-nav a{color:#cac9c9;font-weight:bold;float:left;height:75px;line-height:normal;font-size:14px;padding:0 1.5em 0 2.75em;position:relative;text-decoration:none;transition:padding 0.2s ease-in-out 0s;font-family:"Open Sans",Helvetica,Arial,sans-serif;cursor:default;}
.prLbSteps-nav a:hover, .prLbSteps-nav a:focus{color:#cac9c9;}
.prLbSteps-nav a .stepText{line-height:75px;}
.prLbSteps-nav a .stepText small{font-weight:normal;text-transform:none;}
.prLbSteps-nav a:focus{outline:0 none;}
.prLbSteps-nav li.prLbSteps-step-active a{color:#20b3e3;font-weight:bold;padding-right:3.5em;opacity:1;}
.prLbSteps-nav ul li.prLbSteps-step-active a .cnt{color:#fff;background:#20b3e3;}
.prLbSteps-nav li.prLbSteps-step-selected a{color:#fd4913;font-weight:bold;padding-right:3.5em;opacity:1;}
.prLbSteps-nav ul li.prLbSteps-step-selected a .cnt{color:#fff;background:#fd4913;}
.prLbSteps-nav ul li.prLbSteps-step-active a:hover,
.prLbSteps-nav ul li.prLbSteps-step-selected a:hover{opacity:.75;cursor:pointer;}
.prLbSteps-nav li.prLbSteps-step-active .counter{filter:none;opacity:1;}
.prLbSteps-nav .counter{border:1px solid #cc2a18;border-radius:10em;color:#cc2a18;height:1.5em;line-height:1.5 !important;margin-top:-0.75em;opacity:0;position:absolute;right:1em;text-align:center;top:50%;transition:opacity 0.2s ease-in-out 0s;width:1.5em;}
.prLbSteps-nav .counter.zero{border-color:#3f9dcc;color:#3f9dcc;}
.prLbSteps-container.adaptive .prLbSteps-nav{border-bottom:0 none;max-width:290px;}
.prLbSteps-container.adaptive .prLbSteps-nav li{float:none;overflow:hidden;}
.prLbSteps-container.adaptive .prLbSteps-nav a, .prLbSteps-container.adaptive .prLbSteps-nav li:first-child a, .prLbSteps-container.adaptive .prLbSteps-nav li.prLbSteps-step-active a{border-bottom:1px solid #aaa;border-radius:0;border-top:1px solid #f7f7f7;padding:0 2.5em 0 1.5em;width:100%;}
.prLbSteps-container.adaptive .prLbSteps-nav a::after, .prLbSteps-container.adaptive .prLbSteps-nav li:first-child a::after, .prLbSteps-container.adaptive .prLbSteps-nav li.prLbSteps-step-active a::after, .prLbSteps-container.adaptive .prLbSteps-nav a::before, .prLbSteps-container.adaptive .prLbSteps-nav li:first-child a::before, .prLbSteps-container.adaptive .prLbSteps-nav li.prLbSteps-step-active a::before{display:none;}
.prLbSteps-container.adaptive .prLbSteps-nav li:first-child a{border-top-left-radius:3.01px;border-top-right-radius:3.01px;}
.prLbSteps-container.adaptive .prLbSteps-nav li:last-child a{border-bottom-left-radius:3.01px;border-bottom-right-radius:3.01px;}
.prLbSteps-container.adaptive .prLbSteps-nav li.prLbSteps-step-active a{padding-right:1.5em;}
.prLbSteps-container.adaptive .prLbSteps-nav .counter{float:right;position:relative;right:0;}
.prLbSteps-nav ul li.st-2{padding-left:25px !important;}
.prLbSteps-nav ul li.st-2 a .stepText{padding-left:7px !important;}
.prLbSteps-nav ul li.st-3{padding-left:15px !important;}
.prLbSteps-nav ul li.st-3 a .stepText{padding-left:7px !important;}
.prLbSteps-nav ul li.st-4 a .stepText{margin-left:-7px;}
.roll-icon{background-color:#fd4913;border-radius:100px;color:#fff;font-size:18px;height:37px;line-height:28px;margin:0;text-align:center;width:37px;}
.sheet-icon{background-color:#20b3e3;border-radius:100px;color:#fff;font-size:18px;height:37px;line-height:31px;margin:0;text-align:center;width:37px;}
.srl .title{margin-bottom:10px;}
.srl .title h4{margin-left:5px !important;}
.srl .sfr .title h4{color:#fd4913;}
.srl .sfl .title h4{color:#20b3e3;}
.lSum .title{background:#17b1e3;padding:10px 5px;color:#fff;font-size:14px;display:inline-block;width:100%;border-radius:4px;}
.lSum .thumb{border:1px solid #17b1e3;border-radius:4px;clear:both;margin:0;width:100%;}
.lSum .thumb img{max-width:100%;max-height:193px;}
.lSum .detail{background:-moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);background:-webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%);background:linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#00ffffff',GradientType=0);padding-top:10px;width:100%;clear:both;margin-top:5px;display:inline-block;border-radius:4px;}
.lSum .detail p{margin-bottom:3px;}
.lSum .detail .sfr{background:url(../images/sum-sfr-bg.jpg) repeat-y right;}
.lSum .detail .sfr .title{background:none;padding:0;}
.lSum .detail .sfr .title h4{color:#fd4913;margin-left:5px !important;}
.lSum .detail .sfl .title{background:none;padding:0;}
.lSum .detail .sfl .title h4{color:#20b3e3;margin-left:5px !important;}
.prLbMatTabs .orderStep li a{background-color:#cacaca !important;color:#fff !important;border-top:3px solid #cacaca;line-height:30px;}
.prLbMatTabs .orderStep li a:hover{background-color:#bfbfbf !important;border-top:3px solid #bfbfbf;}
.prLbMatTabs .orderStep li.active a{background-color:#fff !important;border-top:3px solid #fd4913;color:#000 !important;}
.prLbMatTabs .orderStep li.active a:hover{background-color:#fff;border-top:3px solid #fd4913;cursor:default;}
.prMatDC .title{background:#17b1e3;padding:10px 5px;color:#fff;font-size:14px;display:inline-block;width:100%;border-radius:4px;margin-bottom:5px;}
.prMatDC .RDthumb img{float:none;margin:auto;display:block;}
.prMatDC .RDthumb a.btn-link{color:#17b1e3}
.prMatDC .caption{margin:0 !important;}
.prMatDC .caption h2{color:#17b1e3;}
.prMatDC .oQty{color:#fd4913;}
.prMatDC .delvStatus{margin-top:5px;margin-bottom:5px;}
.prMatDC .delvStatus .fa{background:#337ab8;border-radius:100%;color:#fff;font-size:16px;height:27px;padding:4px;text-align:center;width:27px;line-height:17px;}
.prMatDC .delvStatus b{font-size:14px;font-style:italic;color:#fd4913;}
.prMatDC table.price{font-size:12px;line-height:normal;}
.prMatDC table.price b{font-size:24px;line-height:normal;}
.prMatDC table.price .pr-sm{color:#fd4913;font-size:12px;}
.prMatDC table.price .total td{border-top:1px solid #dddddd;}
.prMatBgHeight{min-height:555px;}
.prMatBgHeight .btn-back{margin-top:50px;}
.prMatBgHeight.lSum .detail p{margin-bottom:10px;}
.srl .labels-form label{margin-bottom:13px;}
.printedBg{background:url(../images/printingBg-2.jpg) no-repeat top;background-size:cover;box-shadow:0 0 50px rgba(0, 0, 0, 0.6) inset;}
.printedBg .prBdec{background:rgba(0,0,0,.5);padding:20px 20px;border-radius:10px;color:#fff;text-shadow:3px 3px 3px rgba(0, 0, 0, 0.6);}
.printedBg .prBdec h4{margin-top:0px;font-size:17px;font-weight:bold;}
.printedBg .prBdec p{text-align:justify;margin:0;}
.thumbnail .imgBg{background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #efefef 1%, #ffffff 68%) repeat scroll 0 0;margin:10px 10px 0;padding:15px 0 0;border-radius:5px;}
.top-tip-roll h3{background-color:#fd4913;border-radius:100px;color:#fff;font-size:18px;padding:0px 18px;margin:0px;}
.top-tip-roll h3 img{margin:5px -10px 8px;}
.top-tip-roll strong{color:#4a5353;padding-left:5px;}
.top-tip-roll i{color:#17b1e3;font-size:22px;margin:0 -12px;}
.top-tip h3{background-color:#17b1e3;border-radius:100px;color:#fff;font-size:18px;padding:0px 18px;margin:0px;}
.top-tip h3 img{margin:5px -10px 8px;}
.top-tip strong{color:#4a5353;padding-left:5px;}
.top-tip i{color:#17b1e3;font-size:22px;margin:0 -12px;}
.roll-and-sheet-ads{background-image:url("../images/categoryimages/labelShapes/roll-and-sheet-ads.jpg");background-position:center top;background-repeat:no-repeat;text-align:center;background-size:cover;border-radius:6px;display:inline-block;padding:10px !important;}
.roll-and-sheet-ads h2{background-color:#fd4913;text-align:center;padding:10px;font-size:24px;border-radius:8px;text-transform:uppercase;font-weight:bold;color:#FFF;margin:15px 0;}
.roll-and-sheet-ads h2 small{font-size:18px;text-transform:uppercase;font-weight:bold;color:#FFF;}
.roll-and-sheet-ads p{font-size:14px;text-transform:uppercase;font-weight:bold;color:#FFF;}
.prLbMatTabs .title{background:#17b1e3 none repeat scroll 0 0;border-radius:4px;color:#fff;display:inline-block;font-size:14px;padding:10px 10px;width:100%;}
.prLbMatTabs ol li{float:left;width:16%;}
.prLbMatTabs ol li img{width:100%;height:auto;padding:3px;}
.printStbg1{background-image:url("../images/categoryimages/labelShapes/printStbg1.png");background-position:center top;background-repeat:no-repeat;background-size:cover;border-radius:6px;display:inline-block;padding:10px !important;text-align:center;}
.printStbg2{background-image:url("../images/categoryimages/labelShapes/printStbg2.png");background-position:center top;background-repeat:no-repeat;background-size:cover;border-radius:6px;display:inline-block;padding:10px !important;text-align:center;}
.printStbg3{background-image:url("../images/categoryimages/labelShapes/printStbg3.png");background-position:center top;background-repeat:no-repeat;background-size:cover;border-radius:6px;display:inline-block;padding:10px !important;text-align:center;}
.lbl_img_size{}
.printedBgHome{background-image:url("../images/header/printing.jpg");background-position:center top;background-repeat:no-repeat;background-size:cover;padding:60px;text-align:center;text-shadow:2px 2px 0 rgba(150, 150, 150, 0.32);}
.printedBgHome h2{background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0;border-radius:8px;color:#fff;font-size:26px;font-weight:bold;padding:10px;text-align:center;text-transform:uppercase;}
.printedBgHome h2 small{color:#fff;font-size:20px;font-weight:bold;text-transform:uppercase;}
.printedBgHome p{color:#fff;font-size:17px;font-weight:bold;text-transform:uppercase;}
.printed-lba-a4{background-image:url("../images/header/lba-a4.png");background-position:center top;background-repeat:no-repeat;background-size:cover;padding:20px 0;text-shadow:2px 2px 0 rgba(150, 150, 150, 0.32);}
.printed-lba-a4 h2{color:#fff;font-size:26px;font-weight:bold;}
.printed-lba-a4 p{color:#fff;font-size:14px;}
.printed-lba-call{background-image:url("../images/header/bg_call.jpg");background-position:right bottom;background-repeat:repeat-x;border-top:solid 1px #eee;}
.printed-lba-call h2{color:#16b1e6;font-size:18px;font-weight:bold;margin-top:30px;}
.captionX p strong{color:#00aeef;}
.scale-up{background:url(../images/categoryimages/labelShapes/scale.png) top left repeat-x;height:16px;margin-bottom:20px;}
.scale-down{background:url(../images/categoryimages/labelShapes/scale.png) bottom left repeat-x;height:16px;margin-top:20px;}
.scale-img{height:auto;}
thead.theadX tr th{background:#00aeef;color:#FFF;}
html body div.ourTeam div.container div.thumbnail.prMatDC div.col-md-12 table.table.table-striped.labels-form tbody tr td textarea.form-control{height:40px !important;width:100% !important;}
html body div.ourTeam div.container div.thumbnail.prMatDC div.col-md-12 table.table.table-striped.labels-form tbody tr td label.checkbox i{margin-top:8px;}
html body div.ourTeam div.container div.thumbnail.prMatDC div.col-md-12 div.table-responsive table.table.table-striped.labels-form thead.theadX tr th{border-bottom:1px solid #00aeef;}
.prMatDC .cBlue{color:#00aeef;font-size:17px;padding:15px 8px;}
.print-ads{background:url(../images/voucher-banner-bg.jpg) no-repeat top;background-size:cover;border-radius:6px;display:inline-block;height:297px;padding:0px !important;width:100%;box-shadow:0 4px 0 #848484;}
.print-ads img, .print-ads b, .print-ads a{clear:both;display:inline-block;}
.print-ads b{font-size:22px;color:#fff;line-height:normal;margin-bottom:15px;}
.print-ads img{max-width:100%;margin-top:25px !important;}
.print-ads a{font-weight:bold;}
.StepContent .thumbnail{overflow:inherit !important;display:inline-block !important;width:100%;}
.StepContent .thumbnail .dm-row .thumbnail{padding:0 !important;box-shadow:0 0 0;margin:0;border:0 none;}
.equalHgroup:after{visibility:hidden;display:block;content:" ";clear:both;height:0;}
.equalHgroup{display:inline-block;}
#equalH-container{position:relative;z-index:1;}
#equalH-container .clm{position:relative;}
#equalH-container .clm:nth-child(1){left:33%;}
#equalH-container .clm:nth-child(2){left:-33.3%;}
#equalH-container .clm:nth-child(3){left:0;}
#equalH-container:before, #equalH-container:after{content:"";position:absolute;z-index:-1;top:0;height:100%;}
.ovFl.table-responsive{border-top-left-radius:4px;border-top-right-radius:4px;}
@media screen and (max-width: 1200px) {
	.prMatBgHeight {
    min-height: 600px;
}
.prMatBgHeight .btn-back {
    margin-top: 100px;
}
.prLbSteps-nav a .stepText {
    line-height: 20px;
    margin-top: 30px;
}
.col-xs-10.no-padding.stepText.uac { margin-top:20px;}

}

@media screen and (max-width: 1024px) {
	.prLbSteps-nav {
    padding-left: 10px;
    padding-right: 10px;
}
	.prLbSteps-nav a .stepText .fa {
    float: none;
    margin-top: 0;
}
.prLbSteps-nav a .stepText {
    line-height: 20px;
    margin-top: 30px;
}
.col-xs-10.no-padding.stepText.uac { margin-top:20px;}
.prLbSteps-nav ul li.st-2 {
    padding-left: 0px !important;
}
.prLbMatTabs ol li  {width:12%;   }	
	.prMatBgHeight {
    min-height: 0;
}
.prMatBgHeight .btn-back {
    margin-top:0px;
}
}
@media screen and (max-width: 768px) {
.prLbMatTabs ol li  {   }	
.lSum .detail .roll_material_selection {width:50%;} 
.lSum .detail .a4_material_selection {width:50%;}
	
}
@media screen and (max-width: 460px) {
	
.lSum .detail .roll_material_selection {width:100%;
    border-bottom: 1px solid #cecece;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


.lSum .detail .sfr {

    background:none;

} 
.lSum .detail .a4_material_selection {width:100%;}
.lSum .detail .col-xs-6{ width:100%;}	
.print-ads img {
    max-width: 70%;
    margin-top: 20px !important;
}


}
}

@media screen and (max-width: 360px) {
.prLbMatTabs ol li  { width:33%;  }	

	
}